<%=render "layouts/errors", :object => @product %>

<div class="well">
  <%= form_for @product do |f| %>
    <%= f.text_field :name, placeholder: "Product Name"%>
    <%= f.number_field :cost, :step => 0.01, placeholder: "Unit Cost" %>
    <%= f.text_field :country_origin, placeholder: "Country of Origin" %>
    <%= f.text_field :ingredients, placeholder: "Ingredients"%>
    <%= f.text_field :image, placeholder: "Image URL"%>
    <%= f.submit class: "btn linkcolor" %>
  <% end %>
</div>
